<!DOCTYPE html>
<html> 
<header>
    <title>{{ title }}</title>
</header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <h1>Results for: {{rev}}</h1>
    <form action="/answer" method="GET">
        <input type="text" placeholder="Search with ILSA..." name="rev">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <ul>
        {% for item in result %}
        <li>  <a href ="{{ item[0] }}">{{ item[1]|capitalize }}</a> 
              <p> {{ item[0] }} </p>
              <p> {{ item[2]|safe }} </p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
